*.pyc
*.pyo
*.lock
*.so
dist/
build/
scapy/core/target
MANIFEST
*.egg-info/
test/*.html
.coverage*
coverage.xml
.tox
.ipynb_checkpoints
.mypy_cache
[.]venv/
__pycache__/
doc/scapy/_build
doc/scapy/api
